<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Список автомобилей</title>
</head>
<body>
<div>
    <table>
        <thead>
            <th>Модель</th>
            <th>Серия</th>
            <th>Год</th>
        </tr>
        </thead>

        <tbody>
            <tr th:each="car, stat : ${cars}"  th:if="${stat.count} <= ${count} or ${count} >= 5">
                <td th:text="${car.getModel()}"></td>
                <td th:text="${car.getSeries()}"></td>
                <td th:text="${car.getYear()}"></td>
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>